# ==========================================
# GraderV1 Environment Configuration
# ==========================================

# ========== Proxy ==========
API_URL=backend:5000
AUTH_URL=auth:5050
DOMAIN_NAME=example.com
FRONTEND_URL=frontend:3000
TEST_FRONTEND_URL=test-frontend:4000
LETSENCRYPT_PATH=/etc/letsencrypt


# ========== Frontend ==========
PORT=3000
REACT_APP_DEV=true
REACT_API_HOST=api.${DOMAIN_NAME}


# ========== Backend ==========
DEV=true
DOMAIN=sci.${DOMAIN_NAME}
JWT_SECRET_KEY=
AUTHEN_RSA_PRIVATE_KEY=
ASSIGNMENT_RSA_PUBLIC_KEY=
ASSIGNMENT_RSA_PRIVATE_KEY=


# ========== Authen ==========
AUTHEN_RSA_PUBLIC_KEY=
SESSION_COOKIE_SECRET_KEY=


# ========== Database ==========
DB_HOST=mysql
DB_PORT=3306
DB_NAME=grader_dev
DB_USER=grader
DB_PASSWORD=graderpassword
MYSQL_ROOT_PASSWORD=rootpassword