JWT_SECRET_KEY=SomeSecretKeyHere
PORT=5000
HOST=0.0.0.0
DEV=True
DBHOST=databasre.host.com
DBUSER=database_username
DBPASS=database_password
DBNAME=database_name
DOMAIN=https://public.domain.com:280/
PUBKEY="-----BEGIN PUBLIC KEY-----\nXXXXXXXXXXXXXXXXXXXXXXXXXXXX\n-----END PUBLIC KEY-----\n"
PRIKEY="-----BEGIN RSA PRIVATE KEY-----\nXXXXXXXXXXXXXXXXXXXXX==\n-----END RSA PRIVATE KEY-----\n"